<p>Manager Dashboard</p>

<input
  type="text"
  ngxDaterangepickerMd
  [isInvalidDate]="isInvalidDate"
  [locale]="locale"
  [(ngModel)]="selected"
  [singleDatePicker]="true"
  [autoApply]="true"
/>

<button type="submit" (click)="refreshData()">Test</button>
<table>
  <tr>
    <td></td>
    <td>BK</td>
    <td>BEV</td>
    <td>FC</td>
  </tr>
  <tr>
    <td>5am - 9am</td>
  </tr>
  <tr>
    <td>9am - 1pm</td>
  </tr>
  <tr>
    <td>1pm - 5pm</td>
  </tr>
  <tr>
    <td>5pm - 9pm</td>
  </tr>
  <tr>
    <td>8pm - 11pm</td>
  </tr>
</table>
