<div class="card-container">
  <div class="card">
    <div class="card-body">
      <h1>Forgot Password</h1>
      <div class="alert alert-success" role="alert" *ngIf="success">
        Password Reset Email has been sent. Please check your email.
      </div>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <input type="text" id="email" placeholder="Email Address" formControlName="email" class="form-control" />
        <p *ngIf="form['email'].invalid && form['email'].touched">Error in email field</p>
        <br />
        <button type="submit" class="btn btn-warning">Send Reset Email</button>
      </form>
    </div>
  </div>
</div>
