<h1>Dashboard</h1>

<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    ngxDaterangepickerMd
    [locale]="locale"
    [(ngModel)]="selected"
    [singleDatePicker]="true"
    [autoApply]="true"
    placeholder="Select a Date"
  />
  <div class="input-group-append">
    <button type="submit" (click)="refreshData()" class="btn btn-warning"><i class="icofont-circled-right"></i></button>
  </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!dateIsValid">Please Select a Date</div>

<ng-container *ngIf="scheduledTime && dateTouched && isWorking">
  <div class="card">
    <h5 class="card-header bg-warning text-center">Your Schedule for {{ selectedDate | date: 'MMM d, y' }}</h5>
    <div class="card-body bg-dark text-center">
      <h5 class="card-title">Shift Type: {{ userProfile.training }}</h5>
      <h5 class="card-title">Scheduled Time: {{ scheduledTime }}</h5>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isWorking && dateTouched">
  <div class="card">
    <h5 class="card-header bg-warning text-center">Your Schedule for {{ selectedDate | date: 'MMM d, y' }}</h5>
    <div class="card-body bg-dark text-center">
      <h5 class="card-title">You are not scheduled to work on this date</h5>
    </div>
  </div>
</ng-container>
