<h1>Dashboard</h1>

<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    ngxDaterangepickerMd
    [locale]="locale"
    [(ngModel)]="selected"
    [singleDatePicker]="true"
    [autoApply]="true"
    placeholder="Select a Date"
  />
  <div class="input-group-append">
    <button type="submit" (click)="refreshData()" class="btn btn-warning"><i class="icofont-circled-right"></i></button>
  </div>
</div>

<ng-container *ngIf="scheduledTime && dateTouched && isWorking">
  <p>Your Schedule</p>

  <p>{{ userProfile.training }}</p>

  <p>{{ scheduledTime }}</p>
</ng-container>

<ng-container *ngIf="!isWorking && dateTouched">
  <p>You are not scheduled to work on the selected date</p>
</ng-container>
