<div class="card-container">
  <div class="card">
    <div class="card-body">
      <h1>Sign In</h1>
      <form [formGroup]="signInForm" (ngSubmit)="signIn()">
        <input type="text" id="email" placeholder="Email Address" formControlName="email" class="form-control" />
        <p *ngIf="form['email'].invalid && form['email'].touched">Error in email field</p>
        <br />
        <input type="password" id="password" placeholder="Password" formControlName="password" class="form-control" />
        <p *ngIf="form['password'].invalid && form['password'].touched">Error in password field</p>
        <br />
        <button type="submit" class="btn btn-warning">Login</button>
      </form>
      <button type="submit" class="btn btn-outline-dark mt-2" (click)="forgotPassword()">Forgot Password</button>
    </div>
  </div>
</div>
